@import "./variables";
@import "./scrollbar";

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

@mixin linkHover {
    display: inline-block;
    text-decoration: none;
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: black;
        transition: width 0.3s;
    }
    &:hover {
        color: black;
        &::after {
            width: 100%;
            transition: width 0.3s;
        }
    }
}

.navbar {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    width: 100%;
    z-index: 1;
    .btn:nth-child(1):hover {
        color: white;
    }
    & a:not(.dropdown-toggle) {
        &:not(.nohover) {
            @include linkHover;
        }
    }
}

.koristenje {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: black;
    @include linkHover;
}

.pocetak {
    margin: 5rem 0 0 0;
    padding-bottom: 5rem;
    p {
        font-size: 1.5rem;
        color: #774df3;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    }
    a {
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
    }
    img {
        height: 7rem;
        animation-name: arrowDown;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(1.5rem);
    }
    100% {
        transform: translateY(0px);
    }
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: "DM Sans", sans-serif;
}

h2 {
    font-weight: 300;
}

.mesh {
    background: url(../images/light-mesh.png);
}

.dark-mesh {
    background: url(../images/dark-mesh.png);
    h1 {
        color: white;
    }
    p {
        color: #c8caf8;
    }
}

@media (min-width: 992px) {
    .mesh {
        background: url(../images/light-mesh.png) no-repeat;
        animation-name: mesh;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }
    @keyframes mesh {
        0% {
            background-size: 90%;
        }
        50% {
            background-size: 120%;
        }
        100% {
            background-size: 90%;
        }
    }
}

.primarna {
    background-color: $primarna;
}

.dark {
    background-color: #121212;
    color: white;
}

.dark-price {
    background-color: #333;
    color: white;
}

.dark-card {
    animation-name: cardDemo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    .card-title {
        animation-name: cardDemoTitle;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .btn {
        color: white;
        animation-name: cardDemoButton;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
}

.dark-boja {
    background-color: $primarna;
    animation-name: darkDemo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.blob {
    background: url(../images/blob.svg) no-repeat center;
    animation-name: blobDemo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes darkDemo {
    0% {
        background: $primarna;
    }
    50% {
        background-color: #121212;
        color: white;
    }
    100% {
        background: $primarna;
    }
}

@keyframes blobDemo {
    0% {
        background-size: 0%;
    }
    50% {
        background-size: 95%;
    }
    100% {
        background-size: 0%;
    }
}

@keyframes cardDemo {
    0% {
        border-radius: 0.5rem;
    }
    50% {
        background: #333;
        color: white;
        border-radius: 1rem;
    }
    100% {
        background: white;
        border-radius: 0rem;
    }
}

@keyframes cardDemoTitle {
    0% {
        color: #7828e2;
    }
    50% {
        color: #6cf0b3;
    }
    100% {
        color: red;
    }
}

@keyframes cardDemoButton {
    0% {
        border-radius: 0.25rem;
    }
    50% {
        border-radius: 0.5rem;
    }
    100% {
        border-radius: 0.25rem;
    }
}

.pricing {
    h5 {
        font-family: "DM Sans", sans-serif;
        font-size: 1.75rem;
    }
    img {
        height: 24px;
    }
    .enterprise {
        h5 {
            background: linear-gradient(
                90deg,
                rgba(127, 0, 245, 1) 0%,
                rgba(70, 252, 238, 1) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .premium {
        h5 {
            background: linear-gradient(
                90deg,
                rgba(131, 58, 180, 1) 0%,
                rgba(253, 29, 29, 1) 50%,
                rgba(252, 176, 69, 1) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    .free {
        h5 {
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(85, 0, 255, 1) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .cijena {
        font-family: "DM Sans", sans-serif;
    }
    a {
        display: block;
    }
    .card {
        margin-bottom: 3rem;
    }
    .card:not(.premium) {
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
}

footer {
    background-color: #121212;
    color: white;
    a {
        display: block;
        color: $text-muted;
        text-decoration: none;
        &:hover {
            color: $sekundarna;
        }
    }
}

.sekundarna {
    background-color: $sekundarna;
}

.dodatno {
    span {
        color: rgb(104, 104, 104);
    }
    a {
        color: black;
    }
}

.ikone {
    img {
        height: 5rem;
        display: block;
        width: 40%;
        margin: 0.5rem auto;
    }
    text-align: center;
    width: 33%;
}

@media (min-width: 992px) {
    .crta-desno {
        border-right: 1px solid black;
    }
    .mesh404 {
        background: url(../images/404gradient.png) center no-repeat;
        animation-name: notFound;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @keyframes notFound {
        0% {
            background-size: 70%;
        }
        50% {
            background-size: 90%;
        }
        100% {
            background-size: 70%;
        }
    }
    .vh-100 {
        height: 100vh;
    }
}

.vh-100 {
    height: 60vh;
}
