<footer>
    <div class="container py-4">
        <div class="row">
            <!-- <div class="col-lg-4">
                <img
                    src="icons/logo.svg"
                    alt=""
                    height="50px"
                    class="mb-2"
                />
            </div> -->
            <div class="col-lg-6">
                <h4>Proizvod</h4>
                <a href="/register">Registrirajte se</a>
                <a href="#pricing">Cijena</a>
                <a href="/documentation">Dokumentacija</a>
            </div>
            <div class="col-lg-6">
                <h4>Kontakt</h4>
                <a
                    href="https://www.linkedin.com/in/mislav-jovanić-811021a8"
                    >Linkedin</a
                >
                <a href="mailto:mislavjc@gmail.com?subject=FIN"
                    >E-mail</a
                >
                <a href="tel:095-5344-226">(+385)95 5344 226</a>
            </div>
        </div>
        <h5 class="pt-5">&copy;2021 FIN, All Rights Reserved.</h5>
    </div>
</footer>