<nav class="navbar navbar-expand-lg navbar-light position-fixed">
    <div class="container">
        <img
            src="icons/logo.svg"
            height="50px"
            alt="logo"
            class="navbar-brand"
        />
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navbarNavAltMarkup"
        >
            <div class="navbar-nav">
                <a
                    class="nav-link active"
                    aria-current="page"
                    href="/"
                    >Naslovnica</a
                >
                <a class="nav-link" href="/#features">Funkcionalnosti</a>
                <a class="nav-link" href="/#pricing">Cijene</a>
            </div>
            <div class="navbar-nav ms-auto user">
                <% if (!currentUser) { %>
                    <a class="nav-link" href="/login">Prijava</a>
                    <a class="nav-link btn btn-dark text-white ms-3" href="/register"
                        >Registracija</a
                    >
                    <% } else {%>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
            </div>
        </div>
    </div>
</nav>
