<% layout('layouts/boilerplate')%>
<div
    class="container-fluid mesh404 vh-100 d-flex flex-column justify-content-center text-center"
>
    <h1 class="display-1">
        Tražena stranica nažalost <br />
        ne postoji
    </h1>
    <div>
        <img src="/icons/arrow_downward_black.svg" alt="arrow down icon" height="100px"/>
    </div>
    <h2><a href="/" class="koristenje">Natrag na početnu stranicu.</a></h2>
</div>
