<% layout('layouts/boilerplate')%>
<div class="container-fluid payment-bg">
    <div
        class="container vh-80 d-flex flex-column justify-content-center align-items-center"
    >
        <div class="payment">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 52 52"
                    class="checkmark"
                >
                    <circle
                        cx="26"
                        cy="26"
                        r="25"
                        fill="none"
                        class="checkmark__circle checkmark__cross"
                    ></circle>
                    <!---->
                    <path
                        fill="none"
                        d="M 12,12 L 40,40 M 40,12 L 12,40"
                        class="checkmark__check"
                    ></path>
                </svg>
            <h1 class="display-4">Neuspješno plaćanje</h1>
            <a href="/checkout" class="koristenje"
                >Pokušajte ponovo <span>›</span></a
            >
        </div>
    </div>
</div>
