<% layout('layouts/boilerplate')%>
<div class="container-fluid payment-bg">
    <div
        class="container vh-80 d-flex flex-column justify-content-center align-items-center"
    >
        <div class="payment">
            <svg
                class="checkmark"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 52 52"
            >
                <circle
                    class="checkmark__circle"
                    cx="26"
                    cy="26"
                    r="25"
                    fill="none"
                />
                <path
                    class="checkmark__check"
                    fill="none"
                    d="M14.1 27.2l7.1 7.2 16.7-16.8"
                />
            </svg>

            <h1 class="display-4">Uspješno plaćeno</h1>
            <a href="/form" class="koristenje">Dalje <span>›</span></a>
        </div>
    </div>
</div>
