<% layout('layouts/boilerplate')%>
<div class="container-fluid racun-bg">
    <div
    class="container vh-100 d-flex flex-column justify-content-center align-items-center"
>
    <div class="racun">
        <h1 class="display-4">Dobrodošli, <%= user.username %></h1>
        <hr>
        <h2>Postavke računa</h2>
        <p><span class="text-muted">Korisničko ime:</span> <%= user.username %></p>
        <p><span class="text-muted">E-mail adresa:</span> <%= user.email %></p>
        <hr>
        <h2>Pretplata</h2>
        <p><span class="text-muted">Vaš trenuti plan je:</span> <%= user.pretplata %></p>
        <p><span class="text-muted">Iskorišteno podataka za mjesec:</span> 56/100 MB</p>
        <a href="/plan" class="koristenje">Promjeni plan ›</a>
    </div>
</div>
</div>
