<% layout('layouts/boilerplate')%>
<div class="container-fluid racun-bg">
    <div class="container vh-100 d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-lg-12 racun">
                <h1 class="display-4 text-center">Prijavite se</h1>
                <form
                    action="/login"
                    method="POST"
                    class="validated-form"
                    novalidate
                >
                    <div class="mb-3">
                        <label class="form-label" for="username">Korisničko ime</label>
                        <input
                            class="form-control"
                            type="text"
                            id="username"
                            name="username"
                            autofocus
                            required
                        />
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Lozinka</label>
                        <input
                            class="form-control"
                            type="password"
                            id="password"
                            name="password"
                            size="50"
                            required
                        />
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <button class="btn btn-dark mb-3">Prijava</button>
                    <div class="dodatno">
                        <span>Nemate račun?</span> <a href="/register">Registrirajte se</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
