<% layout('layouts/boilerplate')%>
<!-- <div class="mt-1">&nbsp;</div> -->
<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-4 text-center">Registrirajte se</h1>
            <form
                action="/register"
                method="POST"
                class="validated-form"
                novalidate
            >
                <div class="mb-3">
                    <label class="form-label" for="username">Korisničko ime</label>
                    <input
                        class="form-control"
                        type="text"
                        id="username"
                        name="username"
                        placeholder="ivan123"
                        required
                        autofocus
                    />
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input
                        class="form-control"
                        type="email"
                        id="email"
                        name="email"
                        placeholder="ivan.horvat@gmail.com"
                        required
                    />
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Lozinka</label>
                    <input
                        class="form-control"
                        type="password"
                        id="password"
                        name="password"
                        size="50"
                        required
                    />
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <button class="btn btn-dark mb-1">Registracija</button>
                <div class="dodatno">
                    <span>Imate račun?</span> <a href="/login">Prijavite se</a>
                </div>
            </form>
        </div>
    </div>
</div>
