<% layout('layouts/boilerplate')%>
<div
    class="container vh-80 d-flex flex-column justify-content-center align-items-center"
>
    <h1 class="display-4">Verificirajte mail</h1>
    <h6 class="text-muted mb-3">
        Na adresu
        <span class="text-dark"><u><%= currentUser.email %></u></span> Vam je
        poslan verifikacijski kod.
    </h6>
    <a href="https://mail.google.com/" target="_blank" class="btn btn-dark"
        >Otvorite Gmail</a
    >
</div>
