<% layout('layouts/boilerplate')%>
<div
    class="container vh-80 d-flex flex-column justify-content-center align-items-center"
>
    <h1 class="display-4">Verificiran mail</h1>
    <h6 class="text-muted mb-3">
        Adresa
        <span class="text-dark"><u><%= currentUser.email %></u></span> je
        uspješno verificirana.
    </h6>
    <a href="/" class="btn btn-dark">Nastavi</a>
</div>
