<% layout('layouts/boilerplateShow')%>
<div class="container vh-80">
    <table class="table">
        <thead>
            <% for (let fieldType of fieldTypes) {%>
            <th scope="col"><%= fieldType.name %></th>
            <% } %>
        </thead>
        <tbody>
            <% for (let template of templates) {%>
            <tr>
                <% for (let i = 0; i < fieldTypes.length; i++) {%>
                    <td><a href="/show/<%= template._id %>"><%= template.fields[i].value %></a></td>
                <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
